In [1]:
# First import the Dataset
import pandas as pd
data = pd.read_csv("C:/Users/Daniel/Documents/Masterarbeit/documents_text_included_new.csv", encoding="utf-8")
data = data.fillna(method="ffill")

In [2]:
# Import the Packages
from entitynetwork.enititynetwork_pipeline.process_article import *
from entitynetwork.database_creation.fill_database import *

In [3]:
# Establishe DB Connection

g = connect_database()

In [4]:
all_tag = ["B-PERSON", "I-PERSON", "B-NORP", "B-FAC", "I-FAC", "B-ORG", "I-ORG", "B-GPE", "I-GPE",
          "B-LOC", "I-LOC", "B-PRODUCT", "I-PRODUCT", "B-EVENT", "I-EVENT", "B-WORK_OF_ART", "I-WORK_OF_ART",
          "B-LAW", "I-LAW", "B-LANGUAGE", "I-LANGUAGE", "B-DATE", "I-DATE", "B-TIME", "I-TIME", "B-PERCENT",
           "I-PERCENT", "B-MONEY", "I-MONEY", "B-QUANTITY", "I-QUANTITY", "B-ORDINAL", "I-ORDINAL", "B-CARDINAL",
          "I_CARDINAL"]

selected_tag = ["B-PERSON", "I-PERSON", "B-NORP", "B-FAC", "I-FAC", "B-ORG", "I-ORG", "B-GPE", "I-GPE",
          "B-LOC", "I-LOC", "B-PRODUCT", "I-PRODUCT", "B-EVENT", "I-EVENT", "B-WORK_OF_ART", "I-WORK_OF_ART",
          "B-LAW", "I-LAW", "B-LANGUAGE", "I-LANGUAGE"]

In [5]:
validation_data = pd.read_csv("C:/Users/Daniel/Documents/Masterarbeit/entity_dataframe_lowercase.csv",encoding="utf-8")
#validation_data = validation_data.fillna(method="ffill")

In [6]:
relation_validation_data = pd.read_csv("C:/Users/Daniel/Documents/Masterarbeit/relation_dataframe_lowercase.csv",encoding="utf-8")

In [7]:
ent_val = validation_data[validation_data["text_id"]==data["id"][274]]
rel_val = relation_validation_data[relation_validation_data["text_id"]==data["id"][274]]
test = Article(data["text"][274], data["author_extracted"][274], data["date"][274], data["source"][274], data["id"][274],
               download_model=False, selected_tags=selected_tag,graph=g,
               validate=True, entity_validation_data= ent_val,
               relation_validation_data = rel_val)

In [8]:
test.process_articles()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Daniel\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Daniel\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package perluniprops to
[nltk_data]     C:\Users\Daniel\AppData\Roaming\nltk_data...
[nltk_data]   Package perluniprops is already up-to-date!
[nltk_data] Downloading package nonbreaking_prefixes to
[nltk_data]     C:\Users\Daniel\AppData\Roaming\nltk_data...
[nltk_data]   Package nonbreaking_prefixes is already up-to-date!
2020-06-20 01:15:05.272 INFO in 'deeppavlov.core.data.simple_vocab'['simple_vocab'] at line 115: [loading vocabulary from C:\Users\Daniel\.deeppavlov\models\ner_ontonotes_bert_mult\tag.dict]
2020-06-20 01:15:43.631 INFO in 'deeppavlov.core.models.tf_model'['tf_model'] at line 51: [loading model from C:\Users\Daniel\.deeppavlov\models\ner_ontonotes_bert_mult\model]
C:\Users\Daniel\Documents\Masterarbeit\CSS_Termpaper\EntityNetwork\entitynetwork\validation_tool\entity_validation.py:39: FutureWarning: The 'get_values' method is deprecated and will be removed in a future version. Use '.values' or 'np.asarray(..)' instead.
  duplicate_row = pd.DataFrame(article.entity_validation_data).get_values()[i]
C:\Users\Daniel\Documents\Masterarbeit\CSS_Termpaper\EntityNetwork\entitynetwork\validation_tool\entity_validation.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.merged_data["synonyms"][~self.merged_data["synonyms"].str.contains("__", na=False)] = np.NaN

I: 0
chatham and aylesford mp
J: 0
['sunday express']
J: 1
['parliamentary answer']
J: 2
["england's"]
J: 3
['east sussex']
J: 4
['lancashire']
J: 5
['nottinghamshire']
J: 6
['eric appleby']
J: 7
['alcohol concern']
J: 8
['tracey crouch']
J: 9
['chatham']
J: 10
['aylesford']
J: 11
['department of health']
J: 12
['government']
I: 1
eric appleby
J: 0
['sunday express']
J: 1
['parliamentary answer']
J: 2
["england's"]
J: 3
['east sussex']
J: 4
['lancashire']
J: 5
['nottinghamshire']
J: 6
['eric appleby']
J: 7
['alcohol concern']
J: 8
['tracey crouch']
J: 9
['chatham']
J: 10
['aylesford']
J: 11
['department of health']
J: 12
['government']
I: 2
mp
J: 0
['sunday express']
J: 1
['parliamentary answer']
J: 2
["england's"]
J: 3
['east sussex']
J: 4
['lancashire']
J: 5
['nottinghamshire']
J: 6
['eric appleby']
J: 7
['alcohol concern']
J: 8
['tracey crouch']
J: 9
['chatham']
J: 10
['aylesford']
J: 11
['department of health']
J: 12
['government']
I: 3
parliamentary
J: 0
['sunday express']
J: 1
['parliamentary answer']
J: 2
["england's"]
J: 3
['east sussex']
J: 4
['lancashire']
J: 5
['nottinghamshire']
J: 6
['eric appleby']
J: 7
['alcohol concern']
J: 8
['tracey crouch']
J: 9
['chatham']
J: 10
['aylesford']
J: 11
['department of health']
J: 12
['government']
I: 4
the sunday express
J: 0
['sunday express']
J: 1
['parliamentary answer']
J: 2
["england's"]
J: 3
['east sussex']
J: 4
['lancashire']
J: 5
['nottinghamshire']
J: 6
['eric appleby']
J: 7
['alcohol concern']
J: 8
['tracey crouch']
J: 9
['chatham']
J: 10
['aylesford']
J: 11
['department of health']
J: 12
['government']
I: 5
tracey crouch
J: 0
['sunday express']
J: 1
['parliamentary answer']
J: 2
["england's"]
J: 3
['east sussex']
J: 4
['lancashire']
J: 5
['nottinghamshire']
J: 6
['eric appleby']
J: 7
['alcohol concern']
J: 8
['tracey crouch']
J: 9
['chatham']
J: 10
['aylesford']
J: 11
['department of health']
J: 12
['government']
I: 6
minimum prices for alcohol
J: 0
['sunday express']
J: 1
['parliamentary answer']
J: 2
["england's"]
J: 3
['east sussex']
J: 4
['lancashire']
J: 5
['nottinghamshire']
J: 6
['eric appleby']
J: 7
['alcohol concern']
J: 8
['tracey crouch']
J: 9
['chatham']
J: 10
['aylesford']
J: 11
['department of health']
J: 12
['government']
I: 7
alcohol concern
J: 0
['sunday express']
J: 1
['parliamentary answer']
J: 2
["england's"]
J: 3
['east sussex']
J: 4
['lancashire']
J: 5
['nottinghamshire']
J: 6
['eric appleby']
J: 7
['alcohol concern']
J: 8
['tracey crouch']
J: 9
['chatham']
J: 10
['aylesford']
J: 11
['department of health']
J: 12
['government']
I: 8
conservative
J: 0
['sunday express']
J: 1
['parliamentary answer']
J: 2
["england's"]
J: 3
['east sussex']
J: 4
['lancashire']
J: 5
['nottinghamshire']
J: 6
['eric appleby']
J: 7
['alcohol concern']
J: 8
['tracey crouch']
J: 9
['chatham']
J: 10
['aylesford']
J: 11
['department of health']
J: 12
['government']
I: 9
department of health
J: 0
['sunday express']
J: 1
['parliamentary answer']
J: 2
["england's"]
J: 3
['east sussex']
J: 4
['lancashire']
J: 5
['nottinghamshire']
J: 6
['eric appleby']
J: 7
['alcohol concern']
J: 8
['tracey crouch']
J: 9
['chatham']
J: 10
['aylesford']
J: 11
['department of health']
J: 12
['government']
I: 10
government
J: 0
['sunday express']
J: 1
['parliamentary answer']
J: 2
["england's"]
J: 3
['east sussex']
J: 4
['lancashire']
J: 5
['nottinghamshire']
J: 6
['eric appleby']
J: 7
['alcohol concern']
J: 8
['tracey crouch']
J: 9
['chatham']
J: 10
['aylesford']
J: 11
['department of health']
J: 12
['government']
[9, 10, 6, 13, 1, 0, 8, 14, 7, 15, 11, 12]
[5, 6, 7, 8, 3]

In [29]:
test.entity_dataset.df

                    name          tag count    weight                synonyms
0         sunday express          ORG     1  1.000000        _sunday express_
1   parliamentary answer  WORK_OF_ART     1  0.869565  _parliamentary answer_
2              england's          GPE     1  0.826087             _england's_
3            east sussex          GPE     1  0.739130           _east sussex_
4             lancashire          GPE     1  0.739130            _lancashire_
5        nottinghamshire          GPE     1  0.739130       _nottinghamshire_
6           eric appleby       PERSON     1  0.565217          _eric appleby_
7        alcohol concern          ORG     1  0.565217       _alcohol concern_
8          tracey crouch       PERSON     1  0.347826         _tracey crouch_
9                chatham       PERSON     1  0.217391               _chatham_
10             aylesford       PERSON     1  0.217391             _aylesford_
11  department of health          ORG     1  0.130435  _department of health_
12            government          ORG     1  0.086957            _government_

In [30]:
test.entity_validation_data

,entity,lable,count,synonym,text_id
0,chatham and aylesford mp,addne,2,chatham and aylesford mp__tracey crouch,276
0,chatham and aylesford mp,addne,2,chatham and aylesford mp__tracey crouch,276
1,eric appleby,addne,1,na,276
2,mp,addne,1,na,276
3,parliamentary,addne,1,na,276
4,the sunday express,addne,1,na,276
5,tracey crouch,addne,2,chatham and aylesford mp__tracey crouch,276
6,minimum prices for alcohol,concept,1,na,276
7,alcohol concern,relne,1,na,276
8,conservative,relne,1,na,276
9,department of health,relne,1,na,276
10,government,relne,1,na,276

In [9]:

test.relation_validation.metrics_df

,found_relations,missed_relations,false_positives,accuracy,recall,precision,f1
0,1.0,4.0,4.0,0.111111,0.2,0.2,0.2

In [10]:
test.entity_validation.metrics_df
#temp = temp.get_values()[0]

,found_entities,missed_entities,false_positives,accuracy,recall,precision,f1
0,9.0,3.0,4.0,0.5625,0.75,0.692308,0.72

In [24]:
test.entity_validation.merged_data

,name,tag,count_x,weight,synonyms,entity,lable,count_y,synonym,text_id
0,england,GPE,4,1,na,na,na,na,na,na
1,english,NORP,1,1,na,na,na,na,na,na
2,sheffield university,ORG,2,0.941176,na,sheffield university,relne,2,sheffield university,272
3,bbc's panorama,ORG,1,0.941176,na,bbc,addne,1,na,272
3,bbc's panorama,ORG,1,0.941176,na,panorama,addne,1,na,272
4,scotland,GPE,2,0.705882,na,na,na,na,na,na
5,scotch whisky association,ORG,1,0.705882,na,scotch whisky association,relne,1,na,272
6,david cameron,PERSON,1,0.647059,na,david cameron,addne,1,na,272
7,home office,ORG,1,0.529412,na,home office,relne,1,na,272
8,commons,ORG,1,0.411765,na,commons health select committee,relne,1,na,272
9,alcohol concern,ORG,1,0.352941,na,alcohol concern,relne,1,na,272
10,eric appleby,PERSON,1,0.176471,na,eric appleby,addne,1,na,272
11,na,na,na,na,na,50p - a - unit minimum price,concept,8,minimum price for alcohol at 50p a unit__minim...,272
12,na,na,na,na,na,minimum price,concept,8,minimum price for alcohol at 50p a unit__minim...,272
13,na,na,na,na,na,minimum price for alcohol at 50p a unit,concept,8,minimum price for alcohol at 50p a unit__minim...,272
14,na,na,na,na,na,minimum pricing,concept,8,minimum price for alcohol at 50p a unit__minim...,272
15,na,na,na,na,na,minimum unit price for alcohol,concept,8,minimum price for alcohol at 50p a unit__minim...,272
16,na,na,na,na,na,unit price at 50p,concept,8,minimum price for alcohol at 50p a unit__minim...,272
17,na,na,na,na,na,coalition,relne,2,coalition__government,272
18,na,na,na,na,na,government,relne,2,coalition__government,272
19,na,na,na,na,na,minimum unit price at 50p,relne,8,minimum price for alcohol at 50p a unit__minim...,272

In [15]:
columns = ["found_entities","missed_entities","additional_entities","accuracy","recall","precision","f1"]
metrics = np.array([test.entity_validation.found_entities,
          test.entity_validation.missed_entities,
          test.entity_validation.false_positives,
          test.entity_validation.accuracy,
          test.entity_validation.recall,
          test.entity_validation.precision,
          test.entity_validation.f1])
pd.DataFrame(metrics.reshape(-1,len(metrics)),columns=columns)

,found_entities,missed_entities,additional_entities,accuracy,recall,precision,f1
0,10.0,2.0,1.0,0.769231,0.833333,0.909091,0.869565

In [13]:
test.entity_validation.metrics_df.columns

Index(['found_entities', 'missed_entities', 'false_positives', 'accuracy',
       'recall', 'precision', 'f1'],
      dtype='object')

In [15]:
relation_metrics = pd.DataFrame(columns=["found_relations", "missed_relations", "false_positives", "accuracy",
                                         "recall", "precision", "f1"])

relation_metrics

Empty DataFrame
Columns: [found_relations, missed_relations, false_positives, accuracy, recall, precision, f1]
Index: []

In [16]:
relation_metrics.append(test.relation_validation.metrics_df)

,found_relations,missed_relations,false_positives,accuracy,recall,precision,f1
0,1.0,4.0,4.0,0.111111,0.2,0.2,0.2

In [1]:
# load the necessary data
import pandas as pd
data = pd.read_csv("/home/ubuntu/ma_project/mup_valid_articles.csv", encoding="utf-8")
validation_data = pd.read_csv("/home/ubuntu/ma_project/entity_dataframe_lowercase.csv",encoding="utf-8")
relation_validation_data = pd.read_csv("/home/ubuntu/ma_project/relation_dataframe_lowercase.csv",encoding="utf-8")
initial_nodes = pd.read_csv("/home/ubuntu/ma_project/MUP_nodes.csv",sep = ";", encoding="utf-8")

In [2]:
# load the functionalities
from entitynetwork.enititynetwork_pipeline.process_article import *
from entitynetwork.database_creation.fill_database import *
from entitynetwork.relation_extraction.relation_extraction import *
from allennlp.predictors.predictor import Predictor
#from entitynetwork.validation_tool.relation_validation import *

In [3]:
# Establishe DB Connection
global g
g = connect_database(db_name = "testimprovements")

In [4]:
constituency_predictor_1 = Predictor.from_path("https://storage.googleapis.com/allennlp-public-models/elmo-constituency-parser-2020.02.10.tar.gz")

In [5]:
initial_entities_dict, initial_entities_df = create_synonym_dict(g, None)
global_start = time.time()
for i in range(15, 20):
    print("Current Article" + str(i))
    #ent_val = validation_data[validation_data["text_id"]==data["id"][i]]
    #rel_val = relation_validation_data[relation_validation_data["text_id"]==data["id"][i]]
    article = Article(data["text"][i], data["author_extracted"][i], data["date"][i], data["source"][i], data["id"][i],
               download_ner_model=True, n_shift=0,graph=g,first_round=False ,commit=True,
               initial_entities = initial_entities_df,initial_syn_dict = initial_entities_dict,
                validate=False, filter_by_constituency=True,use_coref = False,
                     path_constituency_parser="/home/ubuntu/ma_project/elmo-constituency-parser-2020.02.10.tar.gz",
                     path_coref_parser="/home/ubuntu/ma_project/coref-spanbert-large-2020.02.27.tar.gz",
                     constituency_predictor = constituency_predictor_1)
    article.process_articles()
global_stop = time.time()
print("time for last quater articles: ", global_stop-global_start)

Current Article15

/home/ubuntu/CSS_Termpaper/EntityNetwork/entitynetwork/relation_extraction/relation_extraction.py:58: RuntimeWarning: Mean of empty slice
  sentiment = np.nanmean(prod)
Your label namespace was 'pos'. We recommend you use a namespace ending with 'labels' or 'tags', so we don't add UNK and PAD tokens by default to your vocabulary.  See documentation for `non_padded_namespaces` parameter in Vocabulary.
Your label namespace was 'pos'. We recommend you use a namespace ending with 'labels' or 'tags', so we don't add UNK and PAD tokens by default to your vocabulary.  See documentation for `non_padded_namespaces` parameter in Vocabulary.
Your label namespace was 'pos'. We recommend you use a namespace ending with 'labels' or 'tags', so we don't add UNK and PAD tokens by default to your vocabulary.  See documentation for `non_padded_namespaces` parameter in Vocabulary.
Your label namespace was 'pos'. We recommend you use a namespace ending with 'labels' or 'tags', so we don't add UNK and PAD tokens by default to your vocabulary.  See documentation for `non_padded_namespaces` parameter in Vocabulary.

Relation Extraction: 0.24427580833435059
constituency took:  8.80500340461731
constituency took:  9.503380060195923
constituency took:  9.788778305053711
constituency took:  9.625351905822754
Filter Relations: 9.901633262634277
__ArticleNode: 0.0008809566497802734
__Publuischer: 8.130073547363281e-05
__Author: 6.437301635742188e-05
__push article_node: 0.0052378177642822266
__push author_node: 0.0037186145782470703
__push publisher_node: 0.002939462661743164
__commit_relationships: 0.6149368286132812
__calculate_sub_graph_metrics: 0.11779475212097168
Commit to db: 0.7486343383789062
Current Article16
Relation Extraction: 0.5126066207885742
constituency took:  13.301888942718506
constituency took:  14.270527124404907
constituency took:  16.163538694381714
constituency took:  18.54858660697937
Filter Relations: 18.745851516723633
__ArticleNode: 0.0008292198181152344
__Publuischer: 0.00016880035400390625
__Author: 0.00018167495727539062
__push article_node: 0.012580633163452148
__push author_node: 0.00526881217956543
__push publisher_node: 0.00802922248840332
__commit_relationships: 0.5364534854888916
__calculate_sub_graph_metrics: 0.13553094863891602
Commit to db: 0.7001538276672363
Current Article17
Relation Extraction: 0.7140860557556152
constituency took:  19.118448495864868
constituency took:  23.12836790084839
constituency took:  27.35800862312317
constituency took:  30.997739791870117
Filter Relations: 31.223686456680298
__ArticleNode: 0.0006124973297119141
__Publuischer: 0.0001125335693359375
__Author: 0.0007150173187255859
__push article_node: 0.007381439208984375
__push author_node: 0.005339622497558594
__push publisher_node: 0.004085063934326172
__commit_relationships: 0.5573348999023438
__calculate_sub_graph_metrics: 0.1405506134033203
Commit to db: 0.717456579208374
Current Article18
Relation Extraction: 0.3088538646697998
constituency took:  4.014208078384399
constituency took:  4.593526363372803
constituency took:  6.331639289855957
constituency took:  7.192723274230957
Filter Relations: 7.557937145233154
__ArticleNode: 0.0003681182861328125
__Publuischer: 0.00010752677917480469
__Author: 0.0005745887756347656
__push article_node: 0.006649494171142578
__push author_node: 0.004022836685180664
__push publisher_node: 0.003971099853515625
__commit_relationships: 0.3618326187133789
__calculate_sub_graph_metrics: 0.08633995056152344
Commit to db: 0.46465444564819336
Current Article19
Relation Extraction: 0.5086236000061035
constituency took:  13.149309158325195
constituency took:  14.414257049560547
constituency took:  15.707966089248657
constituency took:  15.73268985748291
Filter Relations: 15.914846658706665
__ArticleNode: 0.000400543212890625
__Publuischer: 9.560585021972656e-05
__Author: 4.8160552978515625e-05
__push article_node: 0.0056231021881103516
__push author_node: 0.0031998157501220703
__push publisher_node: 0.0024492740631103516
__commit_relationships: 0.34349751472473145
__calculate_sub_graph_metrics: 0.08291053771972656
Commit to db: 0.43896961212158203
time for last quater articles:  88.98209762573242